node_modules/
build/
npm-debug.log
.env
*.pyc
.env.test
.env.production
.DS_Store
.npm
.eslintcache
logs/
.idea/
.icloud
.pkl
extra_outputs/
.ipynb_checkpoints/
__pycache__/
*.log
npm-debug.log*
*.png
*.csv
*.tex
